.landing-page {
    text-align: center;
}

.text-section {
    margin-left: 25px;
    margin-right: 25px;
}

.demo-button {
    margin-top: 75px;
}

.button-section {
    margin-top: 30px;
}

.space {
    margin-right: 30px;
}

.footer {     
    bottom: 0px; 
    width: 100%;
    text-align: center;
    margin-top: 50px;

}

h3 {
    margin-top: 75px
}

a {
    text-decoration: none;
}