
.date {
    margin-top: 15px;
    text-align: center;
}

.button-section {
    text-align: center;
}

.earnings {
    text-align: center;
    margin-top: 12px;
}

.graphs {
    text-align: center;
    margin-top: 20px;
}

.month-pie-chart {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}

button {
    padding: 8px 35px;
    margin-bottom: 8px;
}

hr {
    width: 90%;
}

h4 {
    text-align: center;
}